*{
    padding: 0;
    margin:0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden; /* tránh tràn chiều ngang */
}

.container {
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu_main{
    position:relative;
    background-color:rgb(128, 93, 158);
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

.menu_1{
    position:relative;
    
    display:flex;
    justify-content: space-around;
    line-height: 50px;
    
    
}

.chu{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.chu_12{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.chu1{
    display:block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.muc{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}

.bg_img{
    width: 50px; 
    height: 50px;
    background-size: cover; 
    border-radius:100%; 
    border:none;
}

.muc_1{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}

.inp{
    padding:10px;
}

.chu:hover{
    color: red;
}

.muc:hover{
    color:red;
}

.chu1:hover{
    min-height: 200px;
    background-color: white;
    color:red;
    padding: 0 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .muc{
        display:block;
        text-align: center;    
    }
    .muc_1{
        display:block;
        text-align: center;
    }
    .chu{
        display:block;
        color:black;
        text-align: center;    
    }
    
    .chu:hover{
        color: red;
    }
}

.subm{
    display: block;
    border-color: black;
}

.container_main{
    margin-top:100px;
    position: relative;
    min-width: 100%;
}

.container_2{
    
    position:relative;
    display: flex;
    min-height: 90vh;
    background-color: rgb(41, 23, 57);
    width: 80%;
    left:10%;
    flex-direction: column;
    padding:0 0 20px;
    
}

.tq{
    position: relative;
    min-height:10vh;
    width:100%;
    background-color: rgb(39, 20, 57);
    display: flex;
    align-items: center;
    padding: 0 10% 0;
    gap: 20px;
}

.mau_tq{
    position:relative; 
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.main_img{
    position: relative;
    min-height: 20vh;
    
    background-color: rgb(29, 7, 48);
    line-height: 20vh;
    display: flex;
    justify-content: space-around;
}

.img_dl{
    position: relative;
    width:100%;
    min-height: 110vh;
    background-color: rgb(41, 23, 57);
    display:flex;
    padding: 10px;
}

.news{
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 5px 20px 3px;
    gap: 30px;
    
}

.tintuc{
    position: relative; 
    color: white; 
    font-weight:bold;
}

.chua{
    position: relative;
    min-height: 40vh;
    background-color: rgb(31, 9, 50);
}
.chua_xem_them{
    position: relative;
    background-color: rgb(31, 9, 50);
    text-align: center;
}

.hinhvachu{
    height: 60%;
    color:white;
    margin: 0;
    padding: 6px 10px 6px 10px;
    font-size:20px;
}

.hinhvachu:hover>.chinhchu{

    opacity: 0.7;

}

.chinhchu{
    font-size: 25px; 
    font-weight:bold;
}

.news_2{
    width: 40%;
    padding: 20px 5px 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(57, 57, 57);
    gap:50px;
}

.dieuchinh{
    margin: 2px;
    display:flex;
    flex-direction: column;
    gap: 5px;
}

.nut_bam_1{
    padding:10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    color:white;
    font-size: 25px;
    font-weight: bold;
    transition: .2s linear;
}

.m1{
    background-color: rgb(58, 136, 219);
}
.m2{
    background-color: rgb(188, 40, 139);
}
.m3{
    background-color: rgb(170, 105, 20);
}

.nut_bam_1:hover{

    transform: scale(1.15);
    transition: .2s linear;

}

.mau_beatmap{
    display: flex;
    flex-direction: column;
}

.mau_chu{
    font-size: 25px;
    font-weight: bold;
    color: rgb(180, 124, 229);
}

.mot_a{
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.beatmap{
    align-items: center;
    display: flex;
    gap: 5px;
    color:white;
    font-size: 30px;
}

.dieu_khoan_control{
    margin-top:100px;
    position: relative;
    bottom:0;
    min-width: 100%;
}

.dieu_khoan{
    position: relative;
    min-height: 7vh;
    background-color: rgb(39, 38, 40);
    left:0;
    display: flex;
    align-items: center;
}

.chu_dk{
    padding: 10px 20px 20px;
    position:relative;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:white;
    font-weight: bold;
    font-size: 15px;
}





/* #carousel-box-edit{

    height: 280px;
    display:flex;
    align-items: center;
    width: 100%;
    position: relative;

} */

/* .img_modify{

    height: 200px;
    max-width: 1200px;
    display: block;

} */

.carousel {
  position: relative;
  width: 100%;
  height: 200px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel img {
  max-width: 80%;
  height: 100%;
  display: none; /* ẩn toàn bộ ảnh */
  transition: opacity 0.5s ease;
}

.carousel img.active {
  display: block;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 50%;
}

.btn:hover {
  background-color: rgba(0,0,0,0.8);
}

#prev {
  left: 20px;
}

#next {
  right: 20px;
}

.dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgba(255,255,255,0.6);
  cursor: pointer;
}

.dot.active {
  background: white;
}

@media only screen and (max-width: 1024px){
    .container_2{    
        width: 100%;
        left:0;    
    }

    .carousel{

        height: 150px;

    }

    .dot{

        width: 9px;
        height: 9px;

    }

    .img_dl{
        flex-direction: column-reverse;
        gap:100px;
    }

    .news{
        width: 100%;
        
    }

    .tintuc{
        text-align: center;
    }

    .chua_tin_tuc{
        background-color: rgb(39, 20, 57);
    }

    .news_2{
        width: 100%;
        
    }

    .chu_dk{
        font-size: 10px;
    }
    .chu{
        font-size: 15px;
    }
    .muc{
        font-size: 15px;
    }
    .chu_12{
        font-size: 15px;
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }

    .muc-123{

        font-size: 9px;

    }
    
}

@media only screen and (max-width: 768px){
    .chu_dk{
        font-size:8px;
    }
    .dot{

        width: 6px;
        height: 6px;

    }

    .carousel{
        height:90px
    }
    .container_2{    
        width: 100%;
        left:0;    
    }

    .img_dl{
        flex-direction: column-reverse;
        gap:100px;
    }

    .news{
        width: 100%;
        
    }

    .tintuc{
        text-align: center;
    }

    .chua_tin_tuc{
        background-color: rgb(39, 20, 57);
    }

    .news_2{
        width: 100%;
        
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }
    .chu, .muc, .chu_12, .muc_1, .chu1{
        font-size:13px;
    }
}

.muc-123{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background: none;
    border: white 2px solid;
    padding:2px 5px;
    border-radius: 30px;
    display: none;
    transition: 0.2s linear;
}

.avatar-modifier{

    display: flex;
    flex-direction:column;
    gap:10px;
    align-items: center;

}

.muc-123:hover{

    background: white;
    color:black;
    scale: 1.2;
    transition: 0.2s linear;

}

.avatar-modifier:hover{

    .muc-123{

        display: block;

    }

}