*{
    padding: 0;
    margin:0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden; /* tránh tràn chiều ngang */
}

.bg_img{
    width: 50px; 
    height: 50px;
    background-size: cover; 
    border-radius:100%; 
    border:none;
}

.container {
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu_main{
    position:relative;
    background-color:rgb(128, 93, 158);
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

.menu_1{
    position:relative;
    display:flex;
    justify-content: space-around;
    line-height: 50px;
    
    
}

.chu{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.chu_12{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.chu1{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.muc{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}

.muc_1{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}
.inp{
    padding:10px;
}

.chu:hover{
    color: red;
}
.muc:hover{
    color:red;
}
.chu1:hover{
    min-height: 200px;
    background-color: white;
    color:red;
    padding: 0 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .muc{
        display:block;
        text-align: center;    
    }
    .muc_1{
        display:block;
        text-align: center;
    }
    .chu{
        display:block;
        color:black;
        text-align: center;    
    }
    
    .chu:hover{
        color: red;
    }
}

.container_main{
    margin-top:100px;
    position: relative;
    min-width: 100%;
}

.container_2{
    
    position:relative;
    display: flex;
    min-height: 90vh;
    
    width: 80%;
    left:10%;
    flex-direction: column;
    padding:10px 0 20px;
    
}

.uso_sp_main{
    display: flex;
    flex-direction: column;
    gap:20px;
    background-color: rgb(39, 20, 57);
    width: 100%;
    padding: 15px 15% 15px;
}

.heart_inside_heart{
    width:100%; 
    position:relative; 
    display: flex; 
    justify-content: end;
}

.heart_sp{
    position:ralative;
    height:200px;
    width: 200px;
    background-color: rgb(75, 74, 75);
    border-radius: 100%;
    padding:10px;
    right:0;
}
.heart_sp_in_1{
    position: relative;
    background-color: rgb(51, 51, 51);
    z-index: 2;
    height: 100%;
    width:100%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:10px;
}

.heart_wid{
    position: relative;
    z-index: 50;
    color:rgb(75, 74, 75);
    font-size:75px;
}

.uso_don_text{
    width:100%; 
    position:relative;
}

.uso_don{
    position: relative;
    width: 100%;
    background-color: black;
    color:black;
    border-radius: 20px;
}

.gt_sp{
    position: relative;
    width: 100%;
    padding: 20px 10% 20px;
    background-color: rgb(42, 42, 42);
    color:white;
    font-size: 20px;
}

.container_2 h1{
    color:yellow;
    font-weight:bold;
    font-size:30px;
    text-align: center;
    margin-top:5px;
}

.o_dau_tien{
    padding-top: 20px;
    width: 100%; 
    position: relative; 
    display: flex;
    flex-direction: column; 
    gap: 30px; 
    background-color: rgb(41, 23, 57);
}

.sp_gt_cn{
    position: relative;
    width:100%;
    display:flex;
    padding: 0 5% 0;
    gap: 5%;
}

.canh_le_sp{
    position: relative;
    width: 30%;
    min-height: 10vh;
}

.chua_sp_gt{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}

.avt_sp{
    position: relative;
    max-height:75px;
    width:75px;
    min-width:75px;
    background-color:rgb(26, 75, 113);
    border-radius: 100%;
}

.hinh_sp{
    color: white;
    font-size: 25px;
    line-height: 75px;
    text-align: center;
}

.dieu_chinh_padd{
    position: relative;
    padding: 20px;
    background-color: rgb(57, 57, 57);
}

.anh_va_o{
    margin-top: 50px;
    position: relative;
    display:flex;
    gap:20px;
}

.o_anh_1{
    position: relative;
    width: 60%;
}

.o_anh_2{
    position: relative;
    width: 40%;
    display:flex;
    gap:10px;
}

.avt_sp_1{
    position: relative;
    max-height:75px;
    width: 75px;
    min-width:75px;
    background-color:rgb(48, 177, 85);
    border-radius: 100%;
}

.khoang_cach_o{
    margin-top:50px;
}

.dieu_chinh_padd_2{
    position: relative;
    padding: 20px;
    background-color: rgb(63, 62, 64);
}

.anh_va_o_2{
    margin-top: 50px;
    position: relative;
    display:flex;
    gap:20px;
}

.o_anh_1_2{
    position: relative;
    width: 50%;
}

.o_anh_2_2{
    position: relative;
    width: 50%;
    display:flex;
    gap:10px;
    align-items: center;
    flex-direction: row-reverse;
}

.avt_sp_1_2{
    position: relative;
    max-height:75px;
    width: 75px;
    min-width:75px;
    background-color:rgb(48, 177, 85);
    border-radius: 100%;
}

.khoang_cach_o_1{
    text-align: right;
}

.dieu_chinh_padd_1{
    position: relative;
    padding: 20px;
    background-color: rgb(23, 17, 26);
}

.anh_va_o_1{
    margin-top: 50px;
    position: relative;
    display:flex;
    gap:20px;
}

.o_anh_1_1{
    position: relative;
    width: 60%;
}

.o_anh_2_1{
    position: relative;
    width: 40%;
    display:flex;
    gap:10px;
    flex-direction: row-reverse;
}

.avt_sp_1_1{
    position: relative;
    max-height:75px;
    width: 75px;
    min-width:75px;
    background-color:rgb(48, 177, 85);
    border-radius: 100%;
}



.dieu_khoan_control{
    margin-top:100px;
}

.dieu_khoan{
    position: relative;
    min-height: 7vh;
    background-color: rgb(39, 38, 40);
    left:0;
    display: flex;
    align-items: center;
}

.chu_dk{
    padding: 10px 20px 20px;
    position:relative;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:white;
    font-weight: bold;
    font-size: 15px;
}

@media only screen and (max-width: 1024px){
    .container_2{    
        width: 100%;
        left:0;    
    }

    .img_dl{
        flex-direction: column-reverse;
        gap:100px;
    }

    .news{
        width: 100%;
        
    }

    .tintuc{
        text-align: center;
    }

    .chua_tin_tuc{
        background-color: rgb(39, 20, 57);
    }

    .news_2{
        width: 100%;
        
    }

    .chu_dk{
        font-size: 10px;
    }
    .chu{
        font-size: 15px;
    }
    .muc{
        font-size: 15px;
    }
    .chu_12{
        font-size: 15px;
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }

    .sp_gt_cn{
        flex-direction: column;
        gap:0;
    }
    .canh_le_sp{
        width: 100%;
    }
    .avt_sp{
        max-width: 75px;
        max-height: 75px;
    }
    

    .chu_sp{
        width: 100%;
    }

    .chua_sp_gt{
        flex-direction: row;
        gap:10%;
        width: 100%;
    }
    .anh_va_o{
        flex-direction: column-reverse;
    }
    .o_anh_1{
        width: 100%;
        
    }
    .khoang_cach_o{
        margin-top: 0px;
    }
    .o_anh_2{
        padding:0 2.5% 0;
        width: 100%;
    }
    .avt_sp_1{
        max-width: 75px;
    }

    .anh_va_o_1{
        flex-direction: column;
    }
    .o_anh_1_1{
        width: 100%;
        
    }
    .o_anh_2_1{
        padding:0 2.5% 0;
        width: 100%;
        flex-direction: row;
    }
    .avt_sp_1_2{
        max-width: 75px;
    }

    .anh_va_o_2{
        flex-direction: column;
    }
    .o_anh_1_2{
        width: 100%;
        padding: 0 15% 0;
    }
    .o_anh_2_2{
        padding:0 2.5% 0;
        width: 100%;
        flex-direction: row;
    }
    .avt_sp_1_2{
        max-width: 75px;
    }
    .khoang_cach_o_1{
        text-align: left;
    }
    .heart_inside_heart{
        justify-content: center;
    }
    .uso_don_text{
        text-align: center;
    }
    .muc-123{
        font-size: 9px;
    }
    
}
@media only screen and (max-width: 768px){
    .chu_dk{
        font-size: 8px;
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }
    .chu, .muc, .chu_12, .muc_1, .chu1{
        font-size:13px;
    }
    
}
.muc-123{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background: none;
    border: white 2px solid;
    padding:2px 5px;
    border-radius: 30px;
    display: none;
    transition: 0.2s linear;
}

.avatar-modifier{

    display: flex;
    flex-direction:column;
    gap:10px;
    align-items: center;

}

.muc-123:hover{

    background: white;
    color:black;
    scale: 1.2;
    transition: 0.2s linear;

}

.avatar-modifier:hover{

    .muc-123{

        display: block;

    }

}