*{
    padding: 0;
    margin:0;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-x: hidden; /* tránh tràn chiều ngang */
}

.bg_img{
    width: 50px; 
    height: 50px;
    background-size: cover; 
    border-radius:100%; 
    border:none;
}

.container {
    min-height: 100vh;
    min-width: 100%;
    background-color: black;
    
    margin: 0;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu_main{
    position:relative;
    background-color:rgb(128, 93, 158);
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 50px;
}

.menu_1{
    position:relative;
    display:flex;
    justify-content: space-around;
    line-height: 50px;
    
    
}

.chu{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.chu_12{
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.chu1{
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.muc{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}

.muc_1{
    color: black;
    text-decoration: none;
    display:none;
    font-size: 20px;
    font-weight: bold;
    z-index: 999;
}
.inp{
    padding:10px;
}

.chu:hover{
    color: red;
}
.muc:hover{
    color:red;
}
.chu1:hover{
    min-height: 200px;
    background-color: white;
    color:red;
    padding: 0 10px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    .muc{
        display:block;
        text-align: center;    
    }
    .muc_1{
        display:block;
        text-align: center;
    }
    .chu{
        display:block;
        color:black;
        text-align: center;    
    }
    
    .chu:hover{
        color: red;
    }
}

.container_main{
    margin-top:100px;
    position: relative;
    min-width: 100%;
}

.container_2{
    
    position:relative;
    display: flex;
    min-height: 90vh;
    background-color: rgb(41, 23, 57);
    width: 80%;
    left:10%;
    flex-direction: column;
    padding:0 5px 20px;
    
}

.container_2 h1{
    color:white;
    font-weight:bold;
    font-size:50px;
    text-align: center;
    margin-top:5px;
}

.tq{
    position: relative;
    min-height:10vh;
    width:100%;
    background-color: rgb(39, 20, 57);
    display: flex;
    align-items: center;
    padding: 0 10% 0;
    gap: 20px;
}

.mau_tq{
    position:relative; 
    color: white;
    font-size: 30px;
    font-weight: bolder;
}

.tq_tt{
    height:6vh;
    width:100%;
    background-color: rgb(87, 81, 81);
    display: flex;
    
    padding:1vh;
}

.mau_tq_tt{
    position:relative;
    display:flex;
    color: white;
    font-size: 20px;
    left:5%;
}



.chua_tin_tuc{
    gap:20px;
    position: relative;
    margin-top:50px;
    display: flex;
}

.ngay_thang{
    position:relative;
    display: flex;
    width:20%;
    padding:20px 1% 20px;
    flex-direction: column;
    gap:10px;
    background-color: rgb(46, 45, 45)
}

.news{
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    gap: 30px;
}



.chua{
    position: relative;
    min-height: 30vh;
    background-color: rgb(31, 9, 50);
}
.chua_xem_them{
    position: relative;
    height: 5vh;
    background-color: rgb(31, 9, 50);
    text-align: center;
    line-height:3vh;
}

.hinhvachu{
    height: 30%;
    color:white;
    margin: 0;
    padding: 6px 10px 6px 10px;
    font-size:20px;
}

.chinhchu{
    font-size: 25px; 
    font-weight:bold;
}

.dieu_khoan_control{
    margin-top:100px;
    position: relative;
    bottom:0;
    min-width: 100%;
}

.dieu_khoan{
    position: relative;
    min-height: 7vh;
    background-color: rgb(39, 38, 40);
    left:0;
    display: flex;
    align-items: center;
}

.chu_dk{
    padding: 10px 20px 20px;
    position:relative;
    left:0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color:white;
    font-weight: bold;
    font-size: 15px;
}

@media only screen and (max-width: 1024px){
    .container_2{    
        width: 100%;
        left:0;    
    }

    .img_dl{
        flex-direction: column-reverse;
        gap:100px;
    }

    .news{
        width: 100%;
        
    }

    .tintuc{
        text-align: center;
    }

    .chua_tin_tuc{
        background-color: rgb(39, 20, 57);
    }

    .news_2{
        width: 100%;
        
    }

    .chu_dk{
        font-size: 10px;
    }
    .ngay_thang{
        display: none;
    }
    .chu{
        font-size: 15px;
    }
    .muc{
        font-size: 15px;
    }
    .chu_12{
        font-size: 15px;
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }
    .muc-123{
        font-size: 9px;
    }
    
}
@media only screen and (max-width: 768px){
    .chu_dk{
        font-size: 8px;
    }
    .muc{
        max-width:150px;
    }
    .muc_1{
        max-width:150px;
    }
    .chu, .muc, .chu_12, .muc_1, .chu1{
        font-size:13px;
    }
}

.muc-123{
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    background: none;
    border: white 2px solid;
    padding:2px 5px;
    border-radius: 30px;
    display: none;
    transition: 0.2s linear;
}

.avatar-modifier{

    display: flex;
    flex-direction:column;
    gap:10px;
    align-items: center;

}

.muc-123:hover{

    background: white;
    color:black;
    scale: 1.2;
    transition: 0.2s linear;

}

.avatar-modifier:hover{

    .muc-123{

        display: block;

    }

}